 body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0c1c;
  font-family: "poppins", sans-serif;
}

input[type=text], select, textarea {
  background-color: #eeeeee;
  border: 1px solid #ccc;
  border-radius: 4px;
  box-sizing: border-box;
  margin-bottom: 16px;
  margin-top: 6px;
  padding: 12px;
  resize: vertical;
  width: 100%;
}

input[type=submit] {
  background-color: #00e1b1;
  border: none;
  border-radius: 4px;
  color: #eeeeee;
  cursor: pointer;
  padding: 12px 20px;
}

nav {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  width: 80%;
}

.awesome-li{
  align-items: center;
  display: flex;
}

.awesome-icon{
  color: #00e1b1;
  font-size: 40px;
}

.contact{
  background-color: #32325d;
  border-radius: 10px;
  padding: 4% 3%;
}

.contact, .skills, .skills-mobile{
  color: #f0f0f0;
  display: grid;
  justify-content: space-evenly;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
  overflow: hidden;
}

.contact-cont, .project-cont, .skills-cont{
  /* #29295d */
  background-color: #0d0c1c;
  margin: auto;
  padding: 30px;
  position: relative;
  width: 80%;
}

.contact-cont h2, .project-cont h2, .skills-cont h2{
  color: #00e1b1;
  font-size: 2rem;
  display: inline;
}

.contact-cont h2::after, .project-cont h2::after, .skills-cont h2::after{
  background-color: #00e1b1;
  content: " ";
  display: inline-block;
  height: 1px;
  margin-left: 2%;
  position: relative;
  top: -8px;
  width: 100px;
}

.contact-cont h5, .project-cont h5, .skills-cont h5{
  color: #f0f0f0;
  margin-bottom: 5%;
}

.contact-list{
  display: block;
  list-style: none;
}

.contact-list li{
  align-items: center;
  color: #eeeeee;
  display: flex;
  height: 50px;
  margin-bottom: 6%;
}

.contact-list li svg{
  margin-right: 2%;
}

#cursor{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 100;
}

.fa-socials, .project-links i{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.hamburger{
  color: #fff;
  font-size: 30px;
}

.hero{
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
  width: 80%;
}

.hero-img img{
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  height: 420px;
  object-fit: cover;
  width: 350px;
}

.hero-img-cont{
  margin-right: 10%;
}

.hero-text{
  align-content: center;
  color: #fff;
}

.hero-text h3{
  color: #fff;
  margin-bottom: 2%;
}

.hero-text h1{
  font-size: 2.5rem;
  color: #00e1b1;
}

.hero-title h3{
  align-items: center;
  display: flex;
}

.hero-title span{
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  display: flex;
  font-size: 16px;
  height: 50px;
  margin-right: 5px;
  padding: 2%;
  position: relative;
  text-align: center;
  width: 50px;
}

.li-1{
  color: #00e1b1;
}

.main{
  min-height: 100vh;
}

.nav-items{
  align-items: self-start;
  height: 20px;
  text-align: right;
  transition: width 0.5s ease;
  z-index: 100;
}

.nav-logo{
  color: #00e1b1;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}

.nav-open{
  background-color: darkgrey;
  height: 100vh;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  width: 28%;
}

.nav-ul{
  font-size: 25px;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  visibility: hidden;
}

.nav-ul li{
  text-align: center;
  margin-bottom: 40px;
}

.nav-ul li a{
  color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.nav-ul-display{
  opacity: 1;
  visibility: visible;
}

.project{
  border-radius: 10px;
  color: #F9F6EE;
  cursor: pointer;
  display: flex;
  flex-direction: column;
  gap: 20%;
  margin-top: 5%;
}

.project-img{
  background-color: transparent;
  border: solid 6px antiquewhite;
  height: 450px;
  margin: auto;
  margin-bottom: 3%;
  margin-right: 10%;
  object-fit: cover;
  position: relative;
  width: 48%;
  z-index: 2;
}

.project-img img{
  display: block;
  height: 100%;
  object-fit: contain;
  width: -webkit-fill-available;
}

.project-img1{
  margin-left: 0;
}

.project-img2{
  margin-right: 0;
}

.resume-btn{
  background-color: transparent;
  border: 2px solid white;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 6%;
  padding: 3%;
}

.skills li, .skills-mobile li{
  background-color: #20203c;
  border-radius: 10px;
  list-style-type: none;
  margin-bottom: 2%;
  padding: 2%;
}

.skills li *, .skills-mobile li *{
  fill: #00e1b1;
  height: 50px;
  width: 50px;
}

.skills-mobile{
  display: none;
}

.skills-mobile li{
  display: flex;
  justify-content: space-between;
  margin: 5% auto;
  padding: 4% 3%;
  width: 80%;
}

.socials{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}


@media screen and (min-width:200px) and (max-width: 890px) {
  
  .contact-cont, .project-cont, .skills-cont{
    background-color: #0d0c1c;
    margin: auto;
    padding: 30px;
    position: relative;
    width: 90%;
  }

  #cursor{
    display: none;
  }

  .hero{
    min-height: 55vh;
  }

  .hero-img-cont{
    display: none;
  }

  .hero-text h1{
      font-size: 2rem;
  }

  .hero-title h3, .hero-title h1{
    margin-bottom: 4%;
  }

  .nav-open{
    width: 100%;
  }
  
  .project{
    padding: 10%;
  }

  .contact, .project{
    display: block;
  }

  .contact-list{
    margin-bottom: 10%;
    padding: 0;
  }

  .project p{
    font-size: 15px;
  }

  .project-img{
    width: 100%;
  }

  .skills{
    display: none;
  }

  .skills-mobile{
    display: block;
  }

}

@media screen and (min-width: 1100px) {
  .project p{
    font-size: 20px;
  }
}