/*  Styles are arranged into this order:
    Tag selectors first before other selectors
    All selectors are arranged in alphabetical order
 */

body,
html {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

body {
  background-color: #0d0c1c;
  font-family: "poppins", sans-serif;
}

button{
  background-color: transparent;
  cursor: pointer;
  color: #fff;
  font-size: 1.5rem;
  margin-top: 4%;
  padding: 3%;
}

nav {
  align-items: center;
  color: white;
  display: flex;
  justify-content: space-between;
  margin: auto;
  margin-bottom: 20px;
  padding: 30px;
  width: 80%;
}

.awesome-li{
  align-items: center;
  display: flex;
}

.awesome-icon{
  color: #00e1b1;
  font-size: 40px;
}


.contact button{
  padding: 2%;
}

.contact, .skills{
  color: #f0f0f0;
  display: grid;
  overflow: hidden;
}

.contact-cont, .project-cont, .skills-cont{
  /* #29295d */
  background-color: #0d0c1c;
  margin: auto;
  margin-bottom: 5%;
  padding: 30px;
  position: relative;
  width: 80%;
}

.contact-cont h2, .project-cont h2, .skills-cont h2{
  color: #00e1b1;
  font-size: 2rem;
  display: inline;
}

.contact-cont h2::after, .project-cont h2::after, .skills-cont h2::after{
  background-color: #00e1b1;
  content: " ";
  display: inline-block;
  height: 1px;
  margin-left: 2%;
  position: relative;
  top: -8px;
  width: 100px;
}

.contact-cont h5, .project-cont h5, .skills-cont h5{
  color: #f0f0f0;
  margin-bottom: 5%;
}

#cursor{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50%;
  height: 60px;
  position: absolute;
  width: 60px;
  z-index: 100;
}

.fa-socials, .project-links i{
  color: #fff;
  font-size: 20px;
  font-weight: 400;
}

.form button{
  border: 1px solid white; 
}

.form input, .form textarea{
  background-color: transparent;
  border: 1px solid #fff;
  border-radius: 50px;
  margin-bottom: 20px;
  color: #f0f0f0;
  display: block;
  font-size: 1rem;
  height: 5rem;
  outline: none;
  padding: 0 0 0 6rem;
  width: 80%;
}

.form input:nth-of-type(1){
  background-image: url("images/user.svg");
  background-repeat: no-repeat;
  background-position: 3%;
  background-size: 8%;
}

.form input:nth-of-type(2){
  background-image: url("images/message.svg");
  background-repeat: no-repeat;
  background-position: 3%;
  background-size: 8%;
}

.form input:nth-of-type(3){
  background-image: url("images/message.svg");
  background-repeat: no-repeat;
  background-position: 3%;
  background-size: 8%;
}

.form textarea{
  display: flex;
  text-align: justify;
  resize: none;
}

.hamburger{
  color: #fff;
  font-size: 30px;
}

.hero{
  display: flex;
  justify-content: space-between;
  margin: auto;
  padding: 30px;
  width: 80%;
}

.hero-img img{
  background-color: #fff;
  border-radius: 20px 20px 0 0;
  height: 420px;
  object-fit: cover;
  width: 350px;
}

.hero-img-cont{
  margin-right: 10%;
}

.hero-text{
  align-content: center;
  color: #fff;
}

.hero-text h3{
  color: #fff;
  margin-bottom: 2%;
}

.hero-text h1{
  font-size: 2.5rem;
  color: #00e1b1;
}

.hero-title h3{
  align-items: center;
  display: flex;
}

.hero-title span{
  align-items: center;
  background-color: #fff;
  border-radius: 50%;
  color: #000;
  display: flex;
  font-size: 16px;
  height: 50px;
  margin-right: 5px;
  padding: 2%;
  position: relative;
  text-align: center;
  width: 50px;
}

.li-1{
  color: #00e1b1;
}

.main{
  min-height: 90vh;
}

.nav-items{
  align-items: self-start;
  height: 20px;
  text-align: right;
  transition: width 0.5s ease;
  z-index: 100;
}

.nav-logo{
  color: #00e1b1;
  cursor: pointer;
  font-size: 30px;
  font-weight: 700;
}

.nav-open{
  background-color: darkgrey;
  height: 100vh;
  padding: 2%;
  position: fixed;
  right: 0;
  top: 0;
  width: 28%;
}

.nav-ul{
  font-size: 25px;
  flex-direction: column;
  list-style: none;
  opacity: 0;
  visibility: hidden;
}

.nav-ul li{
  text-align: center;
  margin-bottom: 40px;
}

.nav-ul li a{
  color: #fff;
  margin-right: 20px;
  margin-bottom: 20px;
  text-decoration: none;
}

.nav-ul-display{
  opacity: 1;
  visibility: visible;
}

.project{
  border: solid 6px antiquewhite;
  color: #F9F6EE;
  display: flex;
  flex-direction: column;
  gap: 20%;
  margin-right: 4%;
  margin-top: 5%;
}

.projects{
  display: grid;
  grid-template-columns: auto auto;
}

.project-img{
  background-color: transparent;
  cursor: pointer;
  height: 400px;
  object-fit: cover;
  position: relative;
  z-index: 2;
}

.project-img img{
  display: block;
  height: 100%;
  object-fit: contain;
  position: absolute;
  width: -webkit-fill-available;
}

.resume-btn{
  border: 2px solid white;

}

.skills{
  justify-content: space-evenly;
  grid-template-columns: 2fr 2fr;
  gap: 20px;
}

.skills-cont{
  margin-bottom: 5%;
}

.skills li{
  background-color: #20203c;
  border-radius: 10px;
  list-style-type: none;
  margin-bottom: 2%;
  padding: 4% 6%;
}

.skills li *{
  fill: #00e1b1;
  height: 40px;
  width: 40px;
}

.skills-floating{
  display: flex;
  justify-content: space-between;
  list-style: none;
  margin-top: 10%;
}

.skills-floating li *{
  height: 40px;
  width: 40px;
}

.skills-floating li:nth-child(even){
  animation: floatingdown 1s linear infinite;
  position: relative;
}

.skills-floating li:nth-child(odd){
  animation: floatingup 1s linear infinite;
  position: relative;
}

.socials{
  display: flex;
  justify-content: space-between;
  margin-top: 10px;
}

@keyframes slidein{
  from{
    opacity: 0;
    transform: translateY(6rem);
  }
  to{
    opacity: 1;
    transform: translateY(0);
  }
}

@keyframes floatingup {
  0%{
    bottom: 20px
  }
  50%{
    bottom: 0px;
  }
  100%{
    bottom: 20px;
  }
}
@keyframes floatingdown {
  0%{
    bottom: 0px
  }
  50%{
    bottom: 20px;
  }
  100%{
    bottom: 0px;
  }
}

@media screen and (min-width:200px) and (max-width: 400px) {

  .project-img{
    height: 200px;
    width: 98%;
  }

}

@media screen and (min-width:400px) and (max-width: 650px) {

  .project-img{
    height: 300px;
    width: 98%;
  }

}

@media screen and (min-width:650px) and (max-width: 890px) {

  .project-img{
    height: 400px;
    width: 98%;
  }

}

@media screen and (min-width:890px) and (max-width: 1000px) {

  .project-img{
    height: 300px;
    width: 98%;
  }

}

@media screen and (min-width:200px) and (max-width: 890px) {

  .contact, .project{
    display: block;
  }

  .contact{
    font-size: 16px;
  }

  .contact-cont, .project-cont, .skills-cont{
    background-color: #0d0c1c;
    margin: auto;
    position: relative;
    width: 85%;
  }

  .contact-cont h5, .project-cont h5, .skills-cont h5{
    margin-bottom: 10%;
  }

  .contact-list{
    margin-bottom: 10%;
    padding: 0;
  }

  #cursor{
    display: none;
  }
  
  .form input, .form textarea{
    height: 4rem;
    width: 75%;
  }

  .hero{
    min-height: 50vh;
    margin-top: 10%;
  }

  .hero-img-cont{
    display: none;
  }

  .hero-text h1{
      font-size: 2rem;
  }

  .hero-title h3, .hero-title h1{
    margin-bottom: 4%;
  }

  .main{
    min-height: 85vh;
  }

  .nav-open{
    width: 100%;
  }

  .project{
    padding: 0 5%;
  }

  .projects{
    grid-template-columns: auto;
  }

  .project p{
    font-size: 15px;
  }

}

@media screen and (min-width: 1100px) {
  
  .form input, .form textarea{
    max-width: 50%;
  }

  .project p{
    font-size: 22px;
  }
}
