/*  Styles are arranged into this order:
    Tag selectors first before other selectors
    All selectors are arranged in alphabetical order
 */
*{
    margin: 0;
} 
body{
    background-color: #20203c;
    font-family: "poppins", sans-serif;
}

button{
    cursor: pointer;
    font-size: 18px;
}

input[type=text], select, textarea {
    background-color: #eeeeee;
    border: 1px solid #ccc;
    border-radius: 4px;
    box-sizing: border-box;
    margin-bottom: 16px;
    margin-top: 6px;
    padding: 12px;
    resize: vertical;
    width: 100%;
}

input[type=submit] {
    background-color: #00e1b1;
    border: none;
    border-radius: 4px;
    color: #eeeeee;
    cursor: pointer;
    padding: 12px 20px;
}

nav{
    align-items: center;
    animation: lazyload 2s ease-in-out;
    display: flex;
    justify-content: flex-end;
    margin-right: 3%;
    padding: 10px 0;
}

nav ul li{
    display: inline-block;
    list-style: none;
    margin: 10px 20px;
}

nav ul li a{
    color: white;
    font-size: 17px;
    position: relative;
    text-decoration: none;
}

nav ul li a::after{
    background: #00e1b1;
    bottom: -6px;
    content: '';
    height: 3px;
    left: 0;
    position: absolute;
    transition: 0.5s;
    width: 0;
}

nav ul li a:hover::after{
    width: 100%;
}

span a{
    color: #eeeeee;
}

.about{
    color: #eeeeee;
    line-height: 3;
}

.about-me{
    display: none;
}

.about-me h3{
    color: #00e1b1;
}

.about-me, .contact, .skills{
    background-color: #32325d;
    border-radius: 10px;
    padding: 4% 3%;
}

.awesome-li{
    align-items: center;
    display: flex;
}

.awesome-icon{
    color: #00e1b1;
    font-size: 2rem;
}

.btn{
    background-color: #00e1b1;
    border: none;
    border-radius: 5px;
}

.btn-intro{
    background-color: transparent;
    border: 3px solid #00e1b1;
    border-radius: 2px;
    padding: 10px 20px;
}

.btn-me{
  width: max-content;
}

.btn-vlog, .link{
    cursor: pointer;
    display: block;
    height: 50px;
    margin: 0 auto;
    width: 50px;
}

.contact, .skills{
    display: grid;
    justify-content: space-evenly;
    grid-template-columns: 2fr 2fr;
    gap: 20px;
    overflow: hidden;
}

.contact-cont,  .project-cont, .skills-cont{
    /* #29295d */
    background-color: #20203c;
    padding: 3% 4% 0;
    position: relative;
}

.contact-cont h2, .project-cont h2, .skills-cont h2{
    color: #00e1b1;
    font-size: 2rem;
    display: inline;
}

.contact-cont h2::after, .project-cont h2::after, .skills-cont h2::after{
    background-color: #00e1b1;
    content: " ";
    display: inline-block;
    height: 1px;
    margin-left: 2%;
    position: relative;
    top: -8px;
    width: 100px;
}

.contact-cont h5, .project-cont h5, .skills-cont h5{
    color: #f0f0f0;
    margin-bottom: 5%;
}

.contact-list{
    display: block;
    list-style: none;
}

.contact-list li{
    color: #eeeeee;
    height: 50px;
    margin-bottom: 6%;
}

.contact-list li svg{
    margin-right: 2%;
}

.home{
    display: grid;
    height: 100vh;
    padding-left: 3%;
}

.intro{
    align-items: center;
    animation: slidein 1s linear;
    display: flex;
    flex-direction: column;
    height: 60vh;
    justify-content: center;
}

.intro h1, .intro p{
    margin-bottom: 2%;
}

.intro-p{
    animation: typing 3s,
               blinking linear infinite alternate .4s;
    border-right: 3px solid black;
    font-size: 25px;
    overflow: hidden;
    white-space: nowrap;
}

.link{
  display: none;
  height: 20px;
  width: 20px;
}

.nav-cont{
    display: flex;
    align-items: center;
    font-size: 23px;
    justify-content: space-between;
    margin-top: 0.5%;
}

.nav-title{
    align-items: center;
    margin-right: 3%;
    padding: 10px 0;
    color: #00e1b1;
}

.project{
  border-radius: 10px;
  color: #F9F6EE;
  display: flex;
  gap: 20%;
  margin-top: 5%;
}

.project-img{
    background-color: lightgray;
    border: solid 6px antiquewhite;
    height: 450px;
    margin: auto;
    margin-right: 10%;
    object-fit: cover;
    position: relative;
    width: 45%;
    z-index: 2;
}

.project-img img{
      display: block;
      height: 100%;
      object-fit: cover;
      width: -webkit-fill-available;
}

.project-img1{
    margin: 0;
}

.scroll-cont{
    background-color: #32325d;
    height: 100vh;
    width: 100%;
}

.skills li{
    background-color: #20203c;
    border-radius: 10px;
    box-shadow: 1px 2px #000000;
    list-style-type: none;
    margin-bottom: 2%;
    padding: 2%;
}

.skills li *{
    fill: #00e1b1;
    height: 50px;
    width: 50px;
}

@keyframes blinking {
    0%{
        border-color: black;
    }
    100%{
        border-color: transparent;
    }
}

@keyframes lazyload{
    from{
        opacity: 0;
    }
    to{
        opacity: 1;
    }
}

@keyframes slidein{
    from{
        opacity: 0;
        transform: translateY(6rem);
    }
    to{
        opacity: 1;
        transform: translateY(0);
    }
}

@keyframes typing {
    0%{
        width: 0;
    }
    100%{
        width: 235px;
    }

}

@media screen and (min-width:200px) and (max-width: 630px) {

    nav{
        display: block;
    }

    nav ul li{
        display: block;
        padding: 10px;
    }

    .burger-nav{
        background: url(images/hamburger.png) no-repeat 98%;
        display: block;
        height: 50px;
        width: 100%;
    }
    
    .contact, .project, .skills{
        display: block;
    }

    .contact-list{
        margin-bottom: 10%;
        padding: 0;
    }

    .intro{
        text-align: center;
    }

    .intro h1, .intro p{
        margin-bottom: 4%;
    }

    .nav-ul{
        height: 0;
        overflow: hidden;
    }

    .open{
        height: auto;
        padding: 0;
    }

    .project{
        padding: 10%;
    }

    .project p{
        font-size: 15px;
    }

    .project-img{
        margin-bottom: 10%;
        margin-top: 10%;
        width: 100%;
    }

    section{
        margin-bottom: 6%;
    }

    .skills li{
        display: flex;
        flex-direction: row;
        margin-bottom: 6% ;
        height: 7vh;
    }
        
}
@media screen and (min-width: 1100px) {
    .project p{
        font-size: 20px;
    }
}